<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('tasks.tasks') }}">Ver tareas</a>
        <a href="{{ url_for('tasks.create_task') }}">Crear tarea</a>
        <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
    </nav>

    <div>
        {% block content %}
        {% endblock %}
    </div>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    
</body>
</html>
